<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>注册页面</title>

    <link href="../css/bootstrap.css" rel="stylesheet"/>
    <link href="../css/font-awesome.css" rel="stylesheet"/>
    <link href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" rel="stylesheet"/>
    <style>
        [v-cloak] {
            display: none;
        }
        .table th,
        .table td {
            text-align: center !important;
            vertical-align: middle !important;
        }
    </style>
</head>
<body style="background-color: #E2E2E2;">
<div id="app" class="container" v-cloak>
    <div class="row text-center " style="padding-top:100px;">
        <div class="col-md-12">
            <h2>欢迎注册</h2>
        </div>
    </div>
    <div class="row ">

        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">

            <div class="panel-body">
                <form role="form">
                    <hr/>
                    <br/>
                    <el-form ref="user" :model="user" :rules="registerRules">
                        <h5 style="color:orange">Username</h5>
                        <el-form-item prop="name">
                            <el-input v-model="user.name" type="text" auto-complete="off"
                                      placeholder="Username" prefix-icon="el-icon-user"></el-input>
                        </el-form-item>
                        <h5 style="color:orange">Password</h5>
                        <el-form-item prop="password">
                            <el-input v-model="user.password" type="password" auto-complete="off"
                                      placeholder="Password" prefix-icon="el-icon-lock"></el-input>
                        </el-form-item>
                        <h5 style="color:orange">Verify Your Password</h5>
                        <el-form-item prop="verifyPassword">
                            <el-input v-model="user.verifyPassword" type="password" auto-complete="off"
                                      placeholder="Password" prefix-icon="el-icon-lock"></el-input>
                        </el-form-item>
                    </el-form>
                    <h5 style="color:orange">Please Choose a Character</h5>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <select class="form-control" v-model="user.level">
                            <option value="" selected="">Please Choose</option>
                            <option value="2">Teacher</option>
                            <option value="3">Student</option>
                        </select>
                    </div>

                    <div style="text-align: center">
                        <a href="javascript:void(0)" class="btn btn-block btn-primary" @click="register()">Register</a>
                    </div>

                </form>
            </div>
            <div style="text-align: center">
                <span style="color: blue">Having Your Account ?</span> <a href="login.html" style="color: goldenrod">Click Here
            </a>
            </div>
        </div>
    </div>
</div>
</body>

<script src="https://unpkg.com/vue@2/dist/vue.js"></script>
<script src="../js/vue2.6.11/vue.min.js"></script>
<script src="../js/vue2.6.11/axios.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/element-ui/lib/theme-chalk/fonts/element-icons.ttf"></script>
<script src="https://unpkg.com/element-ui@2.15.5/lib/theme-chalk/fonts/element-icons.woff"></script>

<script>
    new Vue({
        el: "#app",
        data() {
            var validatePass = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('Please Input Your Password'));
                } else {
                    if (this.user.verifyPassword !== '') {
                        this.$refs.user.validateField('confirmPwd');
                    }
                    callback();
                }
            };
            var validatePass2 = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('Please Verify Your Password '));
                } else if (value !== this.user.password) {
                    callback(new Error('Two passwords are different!'));
                } else {
                    callback();
                }
            };
            return {
                user: {
                    name: "",
                    password: "",
                    verifyPassword: "",
                },

                registerRules: {
                    name: [
                        {required: true, trigger: "blur", message: "Please Input Your Username"}
                    ],
                    password: [
                        { required: true, message: 'Please Input Your Password', trigger: 'blur' },
                        { min: 6, max: 16, message: 'The length is 6 ~ 16 characters', trigger: 'blur' },
                        { validator: validatePass, trigger: 'blur' }
                    ],
                    verifyPassword: [
                        { required: true, message: 'Please Verify Your Password', trigger: 'blur' },
                        { min: 6, max: 16, message: 'The length is 6 ~ 16 characters', trigger: 'blur' },
                        { validator: validatePass2, trigger: 'blur', required: true }
                    ],
                },
            }
        },
        created: function () {

        },
        methods: {
            register(){
                axios.post("/register",this.user).then(res =>{
                    if (res.data.code ==='0'){
                        alert("注册成功！")
                       sessionStorage.setItem('userInfo',JSON.stringify(this.user.name));
                        window.location = "/end/page/login.html";
                    }else {
                        alert(res.data.msg)
                    }
                })
            }
        }
    });
</script>
</html>
